@import url("https://fonts.googleapis.com/css2?family=Questrial&family=Space+Grotesk:wght@300&display=swap");
* {
  margin: 0px;
  padding: 0px;
  font-family: 'Questrial', sans-serif;
  scroll-behavior: smooth;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*generales*/
header .menu .items-menu li, header .menu .items-menu li svg {
  text-decoration: none;
  list-style: none;
  text-align: center;
}

#inicio {
  width: 100%;
  padding: 10%;
  text-align: center;
  color: white;
  /*fondo*/
  background-image: url("../src/fotos/neon.jpeg");
  background-size: cover;
  background-attachment: fixed;
  /*textos*/
}

#inicio h1 {
  padding-top: 100px;
  font-size: 100px;
  text-align: center;
  color: white;
  word-wrap: break-word;
}

#inicio h4 {
  font-size: 17px;
}

header {
  margin: 0 0 20px 0;
  padding: 20px;
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
  z-index: 4;
  background-color: white;
}

header .menu li {
  list-style: none;
}

header .menu .items-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .menu .items-menu .boton2, header .menu .items-menu .boton1, header .menu .items-menu svg {
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

header .menu .items-menu .boton2:hover, header .menu .items-menu .boton1:hover, header .menu .items-menu svg:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

header .menu .items-menu .negro a, header .menu .items-menu .negro:hover a {
  color: black;
}

header .menu .items-menu .con-fondo:hover, header .menu .items-menu .sublista li:hover {
  background-color: rgba(180, 180, 180, 0.171);
}

header .menu .items-menu li {
  /*display y position para sublista*/
  position: inline-block;
  display: relative;
  padding-top: 7px;
  /*sublista*/
}

header .menu .items-menu li:hover ul {
  display: block;
}

header .menu .items-menu li a {
  font-size: 20px;
  text-decoration: none;
}

header .menu .items-menu li svg {
  padding-top: 7px;
}

header .menu .items-menu li svg:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

header .menu .items-menu li .sublista {
  /*display y position para sublista*/
  position: absolute;
  display: none;
  margin: 6px 0 0 0;
  padding: 0px;
  width: 150px;
  text-align: start;
  background-color: white;
}

header .menu .items-menu li .sublista li {
  font-size: 20px;
  padding: 10px;
  width: 100%;
  color: black;
}

.boton {
  background-color: white;
  width: 200px;
  height: 45px;
  border-radius: 4rem;
  border: none;
  margin: 2rem 0 3rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.boton:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  background-color: #e6e6e6;
}

.boton a {
  text-decoration: none;
  color: #FF5DA2;
  font-size: 20px;
}

.boton a:hover {
  color: #FF0075;
}

#pasos {
  margin: 0px;
}

#pasos h2 {
  margin: 100px 0px;
  font-size: 70px;
  text-align: center;
  color: black;
  position: -webkit-sticky;
  position: sticky;
  top: 23%;
}

#pasos div {
  background-size: cover;
}

#pasos div h5, #pasos div p {
  font-size: 20px;
  padding: 50px 50px 0px 50px;
  color: white;
}

#pasos div h5 {
  font-size: 45px;
}

#pasos .cuadrado1 {
  background-color: #9C19E0;
  display: inline;
  float: left;
}

#pasos .cuadrado2 {
  background-color: #49FF00;
  display: inline;
  float: left;
}

#pasos .cuadrado3 {
  background-color: #FF5DA2;
}

#pasos .cuadrado4 {
  background-color: #F4A442;
}

#pasos .cuadrado-vacio1 {
  display: inline-block;
  background-size: cover;
  background-image: url("https://i.ibb.co/f0ZddYz/colores.jpg");
  background-repeat: no-repeat;
}

#pasos .cuadrado-vacio2 {
  display: inline-block;
  background-size: cover;
  background-image: url("https://i.ibb.co/WBcmbx8/polvos.jpg");
  background-repeat: no-repeat;
}

#ustedes {
  background-color: #FF0075;
}

#ustedes h2 {
  font-size: 70px;
  text-align: center;
  color: white;
  position: -webkit-sticky;
  position: sticky;
  top: 30%;
  padding-bottom: 30px;
}

#ustedes .conteiners {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 40px 0;
}

#ustedes .conteiners div {
  display: block;
  position: -webkit-sticky;
  position: sticky;
  top: 50%;
  text-align: left;
  border-radius: 15px;
  background-color: white;
}

#ustedes .conteiners div .comillas {
  padding: 50px 50px 0 50px;
  font-size: 80px;
}

#ustedes .conteiners div p {
  font-size: 20px;
  padding: 0px 40px;
}

#nosotros {
  background-color: white;
  text-align: start;
  color: black;
  padding: 100px;
}

#nosotros p {
  font-size: 20px;
  padding-top: 30px;
}

#nosotros h5 {
  font-size: 40px;
}

#pre-footer {
  display: block;
  background-size: cover;
  background-image: url("../src/fotos/fondo-pre-footer.jpeg");
  background-repeat: no-repeat;
  padding: 250px 0px;
}

#pre-footer .item-pf {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#pre-footer .item-pf h2 {
  display: inline;
  font-size: 60px;
  text-align: center;
  color: white;
}

#pre-footer .item-pf button {
  margin: 0 auto;
  display: inline;
}

footer {
  width: 100%;
  background-color: white;
}

footer .comments {
  text-align: start;
}

footer .comments .enviar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  margin-top: 30px;
}

footer .comments .enviar .comentarios {
  width: 300px;
  height: 40px;
  border: solid black 1.5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  font-size: 20px;
  margin: 0;
  padding: 10px;
}

footer .comments .enviar .mandar {
  width: 100px;
  height: 40px;
  background-color: #FF0075;
  color: white;
  border: none;
  margin-left: 10px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

footer .comments .enviar .mandar:hover {
  background-color: white;
  color: black;
  border: black solid 1px;
}

footer .comments h4 {
  font-size: 20px;
  text-align: start;
  color: black;
}

footer .texts {
  grid-area: "text";
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

footer .texts div {
  margin: 0px 3rem;
}

footer .texts div ul li {
  list-style: none;
}

footer .texts div ul li a {
  text-decoration: none;
  font-size: 15px;
  color: black;
  margin-top: 10px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

footer .texts div ul li a:hover {
  color: #ff8ec6;
  font-size: 16.5px;
}

footer .texts div ul h5 {
  font-size: 17px;
  font-weight: bold;
  color: #FF0075;
}

footer .texts div ul .ic-mobile {
  display: none;
}

.is {
  height: 100vh;
  text-align: center;
  display: block;
  background-size: cover;
  background-image: url("../src/fotos/pool-party.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.is h1 {
  font-size: 50px;
  margin: 20px auto 0px auto;
  color: white;
}

.is p:hover {
  text-decoration: underline;
}

.is p a {
  color: white;
  font-size: 15px;
  margin: 10px 0px 6px 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  text-decoration: none;
}

.is p a:hover {
  color: #b81a5e;
}

.is svg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 50px;
  fill: white;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.is svg:hover {
  -webkit-transform: scale(1.4);
          transform: scale(1.4);
}

.is .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: auto;
}

.is .form input {
  margin: 10px 0 30px 0;
}

.is .form .escribir {
  border: solid #FF6DB7 1px;
  background-color: white;
  text-align: start;
  width: 350px;
  height: 40px;
  font-size: 15px;
  padding: 10px;
}

@media screen and (max-width: 500px) {
  .is .form .escribir {
    width: 250px;
    height: 40px;
  }
}

.r {
  margin: 0px;
  display: block;
  background-size: cover;
  background-image: url("../src/fotos/pool-party-2.jpeg");
  background-repeat: no-repeat;
}

.boton {
  color: #FF5DA2;
  font-size: 20px;
}

.boton:hover {
  color: #FF0075;
}

@media screen and (max-width: 500px) {
  #pasos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #inicio {
    width: 100%;
    height: 100vh;
    background-size: cover !important;
    background-attachment: scroll;
  }
  #inicio h1 {
    font-size: 25px;
  }
}

@media screen and (max-width: 500px) and (max-width: 345px) {
  #inicio h1 {
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  #inicio h4 {
    font-size: 8px;
  }
  #inicio button {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  #nosotros {
    padding: 20px;
  }
  #nosotros div p, #nosotros div p {
    font-size: 7.5px;
    word-wrap: break-word;
  }
  #nosotros div h5, #nosotros div h5 {
    font-size: 15px;
  }
  #pasos h2 {
    font-size: 30px;
  }
  #pasos div {
    width: 100%;
    height: 368.8px;
    position: -webkit-sticky;
    position: sticky;
    top: 45%;
  }
  #ustedes h2 {
    background-color: #FF0075;
    z-index: 3;
  }
  #ustedes .capa {
    background-color: #FF0075;
    z-index: 2;
    height: 200px;
    position: -webkit-sticky;
    position: sticky;
    top: 10%;
  }
  #ustedes .conteiners .conteiner1, #ustedes .conteiners .conteiner2 {
    padding-bottom: 150px;
  }
  #ustedes .conteiners div {
    position: static;
    height: 190px;
    margin: 30px;
  }
  #ustedes .conteiners div .gente {
    margin-left: 70px;
    position: relative;
    bottom: 150px;
    font-size: 7.5px;
  }
}

@media screen and (max-width: 500px) and (max-width: 365px) {
  #ustedes .conteiners div .gente {
    font-size: 6px;
  }
}

@media screen and (max-width: 500px) {
  #pre-footer .item-pf h2 {
    font-size: 25px;
  }
  .is {
    background-size: cover;
    height: 130vh;
  }
}

@media screen and (min-width: 961px) {
  header .menu {
    /*botones*/
  }
  header .menu .list-mobile {
    display: none;
  }
  header .menu .con-fondo, header .menu .sin-fondo {
    display: inline-block;
    border-radius: 40px;
    width: 150px;
    height: 45px;
    margin: 2px;
  }
  header .menu .boton1 {
    border: black solid 2px;
  }
  header .menu .boton2 {
    background-color: black;
  }
  header .menu .boton2 a {
    color: white;
  }
  #pasos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  #pasos div {
    width: 33.3%;
    height: 368.8px;
    position: -webkit-sticky;
    position: sticky;
    top: 53.5%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  #pasos .cuadrado4 {
    margin: 0px 33.3%;
  }
  #ustedes .conteiners {
    padding: 40px;
  }
  #ustedes .conteiners div {
    position: -webkit-sticky;
    position: sticky;
    top: 50%;
    width: 30%;
  }
  #ustedes .conteiners .conteiner1 {
    margin-top: 700px;
  }
  #ustedes .conteiners .conteiner2 {
    margin: auto;
  }
  #ustedes .conteiners .conteiner3 {
    margin-left: 70%;
  }
  footer {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 100px;
        grid-template-rows: 100px;
    -ms-grid-columns: (50%)[2];
        grid-template-columns: repeat(2, 50%);
    grid-gap: 30px;
    padding: 70px;
  }
  footer .texts div {
    text-align: start;
  }
}

@media screen and (min-width: 500px) and (max-width: 961px) and (min-width: 500px) and (max-width: 663px) {
  #inicio h1 {
    font-size: 42px;
  }
}

@media screen and (min-width: 500px) and (max-width: 961px) {
  #pasos div {
    width: 50%;
    height: 368.8px;
    position: -webkit-sticky;
    position: sticky;
    top: 50%;
  }
  #ustedes h2 {
    padding-bottom: 150px;
  }
  #ustedes .conteiners {
    padding: 10px 60px;
  }
  #ustedes .conteiners div {
    margin: 100px 0px;
    height: 350px;
    padding-bottom: 150px;
  }
  footer {
    padding: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .comments {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  footer .texts {
    margin: 0px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  footer .texts div {
    margin: 0px;
  }
}

@media screen and (max-width: 961px) {
  header {
    position: -webkit-sticky;
    position: sticky;
    top: 0%;
  }
  header .menu {
    padding: 0px;
  }
  header .menu .menu-mobile {
    display: inline-block;
    position: relative;
  }
  header .menu .menu-mobile:hover .items-menu {
    display: block;
  }
  header .menu .menu-mobile .items-menu {
    position: absolute;
    display: none;
    background-color: white;
    height: 100vh;
    width: 200px;
    padding: 0px;
    left: -20px;
  }
  header .menu .menu-mobile .items-menu li {
    text-align: start;
    display: block;
    padding: 10px;
  }
  header .menu .menu-mobile .items-menu li a {
    color: black;
  }
  header .menu .menu-mobile .items-menu li .sublista {
    margin-left: 160px;
    top: 20px;
  }
}

@media screen and (max-width: 1080px) {
  footer, footer .comments .enviar, footer .texts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .comments {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 30px;
  }
  footer .comments h4 {
    text-align: center;
  }
  footer .comments .enviar .comentarios, footer .comments .enviar .mandar {
    margin: 10px auto;
  }
  footer .comments .enviar .comentarios {
    width: 250px;
  }
  footer .texts {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin: 30px 0;
  }
  footer .texts div {
    margin: 20px auto;
    text-align: center;
  }
  footer .texts div ul {
    padding: 0px;
  }
  footer .texts .redes .ic-mobile {
    display: inline;
    margin: 0px 10px;
  }
  footer .texts .redes .ic-compu {
    display: none;
  }
}
/*# sourceMappingURL=style.css.map */