@media screen and (min-width: 500px) and (max-width: 961px){

    #inicio {
        h1 {
            @media screen and (min-width: 500px) and (max-width: 663px){
                font-size: $size *7;
            }
        }
    }

    #pasos {
        div {
            

            div {
                @include tamaño (50%, 368.8px);
                @include sticky (50%);
            }

            .cuadrado4 {
                margin-right: 50%;
            }
        }
                
    }

    #ustedes {
        h2 {
            padding-bottom: 150px;
        }
        .conteiners {
            padding: 10px 60px;

            div{
                margin: 100px 0px;
                height: 350px;
                padding-bottom: 150px;
            }   
                
        }
    }

    footer {
        padding: 30px;
        display: flex;
        flex-direction: column;

        .comments {
            order: 2;
        }

        .texts {
            margin: 0px;
            order: 1;

            div {
                margin: 0px;
            }
        }
    }
}