@media screen and (max-width: 500px){
    // extenciones 
    %column  {
        display: flex;
        flex-direction: column;
    }   

    //    inicio
    #inicio {
        width: 100%;
        height: 813px;

        h1 {
            font-size: $size *5;
        }

        h4 {
            font-size: $size *1.6;
        }

        button {
            transform: scale(1);
        }

        header {
            @include sticky (0%);

            .submenu-sol {
                display: none;
            }
        }
    }

    // nosotros 
    #nosotros {
        padding: 20px;
        div, div {
            p {
                font-size: $size *1.5;
                word-wrap: break-word;
            }

            h5 {
                font-size: $size *3;
            }

            button {
                background-color: nth($colores, 3 );

                a {
                    color: white;
                }
            }
        }   
    }

    // pasos
    #pasos {
        @extend %column;

        h2 {
            font-size: $size *6;
        }

        div div {
            @include sticky (50%);
            @include tamaño (100%, 368.8px); 
        }

        .row1, .row3 {
            @extend %column;
        }
    }
    
   // ustedes
    #ustedes {
        .conteiners {
            div {
                @include sticky (50%);
                height: 190px;
                margin: 30px;

                .conteiner1, .conteiner2 {
                    margin-bottom: 130px;
                }

                .gente {
                    margin-left: 70px;
                    position: relative;
                    bottom: 150px;
                    font-size: $size *1.5;
                }

                @media screen and (max-width: 365px){
                    .gente {
                        font-size: $size *1.2;
                    }
                }
            }
        }
    }
                
    // pre footer 
    #pre-footer {
        .item-pf {
            h2 {
                font-size: $size *5;
            }
        }
    }
}

