// menu para el responsive en ipad y mobile 
@media screen and (max-width: 961px){
    header {
        .menu {
            padding: 0px;

            .menu-mobile {
                display: inline-block;
                position:relative;

                &:hover .items-menu {
                    display: block; 
                }
                
                .items-menu {
                    position: absolute;
                    display: none;
                    background-color: white;
                    height: 100vh;
                    width: 200px;
                    padding: 0px;
                    left: -20px;

                    li {
                        text-align: start;
                        display: block;
                        padding: 10px;
                        
                        a {
                            color: black;
                        }

                        .sublista {
                            margin-left: 160px;
                            top: 20px;
                        }
                    }
                }
            }
        }
    }
}