.busqueda {
    @include background (static, "../src/fotos/loros.jpeg");
    padding: 130px;

    h4 {
        @include h-text (6, white);
    }

    .buscar {
        text-align: center;

        input {
            @include tamaño (40%,40px);
            @include espacios (50px 20px, 0 10px);
            border: white;
        } 

        button {
            height: 40px;
            background:none;
            border: none;
            fill: white;
            transition: all 1s;

            &:hover {
                transform: scale(1.3);
            }
        }
    }   
}

.preguntas-destacadas {
    
}