footer {
    width: 100%;
    background-color: white;

    .comments {
        text-align: start;
        
        .enviar label {
            @include flex (row, start);
            margin-top: 30px;

            .comentarios{
                @include tamaño (300px, 40px);
                border: solid black 1.5px;
                transition: all 0.3s;
                font-size: $size *2;
                @include espacios (0, 10px);
            }

            .mandar {
                @include tamaño (100px, 40px);
                background-color: nth($colores, 3 );
                color: white;
                border: none;
                margin-left: 10px;
                transition: all 0.5s;


                &:hover {
                    background-color: white;
                    color: black;
                    border: black solid 1px;
                }
            }
        }

        h4 {
            font-size: $size *2;
            text-align: start;
            color: black;
        }
    }

    .texts {
        grid-area: "text";
        @include flex (row, end);

        div {
            margin: 0px 3rem;

            ul {
                li {
                    list-style: none;
                    a {
                        text-decoration: none;
                        font-size: $size *1.5;
                        color: black;
                        margin-top: 10px;
                        transition: all 0.4s;

                        &:hover {
                            color: nth($colores, 1 );
                            font-size: $size *1.65;
                        }
                    }
                }

                h5 {
                    font-size: $size *1.7;
                    font-weight: bold;
                    color: nth($colores, 3 );
                }

                .ic-mobile {
                    display: none;
                }
            }    
        }
    }
}
